<h1>Editing meal prep schedule</h1>

<%= render "form", meal_prep_schedule: @meal_prep_schedule %>

<br>

<div>
  <%= link_to "Show this meal prep schedule", @meal_prep_schedule %> |
  <%= link_to "Back to meal prep schedules", meal_prep_schedules_path %>
</div>
