<h1>Editing meal prep item</h1>

<%= render "form", meal_prep_item: @meal_prep_item %>

<br>

<div>
  <%= link_to "Show this meal prep item", @meal_prep_item %> |
  <%= link_to "Back to meal prep items", meal_prep_schedule_items_path %>
</div>
