<div id="<%= dom_id meal_prep_item %>">
  <p>
    <strong>Name:</strong>
    <%= meal_prep_item.name %>
  </p>

  <p>
    <strong>Prepared:</strong>
    <%= meal_prep_item.prepared %>
  </p>

  <p>
    <strong>Meal type:</strong>
    <%= meal_prep_item.meal_type %>
  </p>

</div>
