<h1>Editing meal prep item</h1>

<%= render "form", meal_prep_item: @meal_prep_item, url: meal_prep_schedule_item_url(meal_prep_schedule_id: @meal_prep_item.meal_prep_schedule, id: @meal_prep_item) %>

<br>

<div>
  <%= link_to "Back to schedule", meal_prep_schedule_path(id: @meal_prep_item.meal_prep_schedule) %>
</div>
